{% extends 'base.html' %}

{% block titulo %}Cursos{% endblock %}

{% block encabezado %}Extracciones{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="/static/css/estilo.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block contenido %}


<div class="panel panel-info">
  <div class="panel-heading text-center">
    Extracciones actuales
  </div>
  
  <div class="panel-body">
    {% if pendientes %}
    <table class="table table-striped">
      <thead>
	<tr>
          <th class="text-center">Periodo</th>
          <th class="text-center">Nombre</th>
	  <th class="text-center">Estatus</th>
	</tr>
      </thead>
      <tbody id="tabla_cursos">
	{% for info in pendientes %}
	<tr>
	  <td class="text-center">{{ info.periodo }}</td>
	  <td class="text-center">{{ info.nombre }}</td>
	  <td class="text-center">{{ info.estatus }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>    
    {% else %}
    <strong>No hay extracciones pendientes</strong>    
    {% endif %}
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading text-center">
    Historial de extracciones finalizadas
  </div>
  
  <div class="panel-body">
    
    {% if historial %}
    <table class="table table-striped">
      <thead>
	<tr>
          <th class="text-center">Periodo</th>
          <th class="text-center">Nombre</th>
	</tr>
      </thead>
      <tbody id="tabla_cursos">
	{% for elemento in historial %}
	<tr>
	  <td class="text-center">{{ elemento.periodo }}</td>
	  <td class="text-center">{{ elemento.nombre }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>    
    {% else %}
    <strong>No hay extracciones en el historial</strong>    
    {% endif %}      
  </div>
</div>


{% endblock %}


