<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Menú:</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'listar_cursos' %}"><strong><span class="glyphicon glyphicon-download-alt"></span>Nueva extracción</strong></a></li>
      <li><a href="{% url 'info_extraccion' %}"><strong><span class="glyphicon glyphicon glyphicon-tasks"></span>Extracciones</strong></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'acerca_de' %}"><strong><span class="glyphicon glyphicon-question-sign"></span>Acerca de</strong></a></li>
      <li><a href="{% url 'logout' %}"><strong><span class="glyphicon glyphicon-log-out"></span>Cerrar sesión</strong></a></li>
    </ul>
  </div>
</nav>
