<nav class="navbar navbar-inverse container">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Menú:</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/listar_cursos/"><strong>Nueva extracción</strong></a></li>
      <li><a href="/info_extraccion/"><strong>Extracciones</strong></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><strong><span class="glyphicon glyphicon-log-out"></span>Cerrar sesión</strong></a></li>
    </ul>
  </div>
</nav>
