<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menú:</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
	<li><a href="{% url 'login' %}"><strong><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Iniciar sesión</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'acerca_de' %}"><strong><span class="glyphicon glyphicon-question-sign"></span>Acerca de</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
