<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Menú:</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/login/"><strong><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Iniciar sesión</strong></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/acerca_de/"><strong><span class="glyphicon glyphicon-question-sign"></span>Acerca de</strong></a></li>
    </ul>
  </div>
</nav>
